/* H5BP styles. */
@import "../vendor/h5bp/css/style.css";

/* Add Stylus stylesheets here, alll files ending in .styl will be compiled!
 * For example: @import "main.styl";
 *
 * Note: All stylesheets are relative to `assets/css`.
 *
 */

body {
  padding: 20px;
}

#sensors {
  font-size: 200%;
  padding: 0;
  margin: 0;
}

#sensors li {
  list-style: none;
}

#sensors li span {
  padding-left: 20px;
  display: inline-block;
  width: 250px;
}

/* Put development-only CSS below this line. */
